{% extends 'base.html' %}

{% block title %}V-IMG - Signup{% endblock %}

{% block custom_main %}
<div class="row">
    <div class="col l3 lx3 m1 s1"></div>
    <div class="col l6 lx6 m11 s11">
        <div class="row">
            <div class="col s12">
                <h2 class="center">Cadastre-se</h2>
            </div>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="white-text validate">
                        <label for="first_name">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="white-text validate">
                        <label for="last_name">Sobrenome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="white-text validate">
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="white-text validate">
                        <label for="password">Senha</label>
                    </div>
                </div>
                <div class="input-field col s12 center">
                    <button class="btn btn-large waves-effect waves-light pink darken-4" type="submit"
                        name="action">Cadastrar-se</button>
                </div>
            </form>
            <div class="col s12 card grey darken-4">
                <p><i class="material-icons left">info</i>Ao se cadastrar, você declara estar ciente dos Termos de Uso
                    da
                    plataforma e que seus dados serão tratados em
                    conformidade com a Lei Geral de Proteção de Dados (LGPD).</p>
            </div>
        </div>
    </div>
    <div class="col l1 lx1 m1 s1"></div>
</div>
{% endblock %}

{% block main %}
{% for i in range(15) %}
<br>
{% endfor %}
{% endblock %}