{% extends 'base.html' %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}V-IMG - Home{% endblock %}

{% block nav %}
<nav>
    <div class="nav-wrapper pink darken-1">
        <a href="#" class="brand-logo"><i class="material-icons right large">perm_media</i> V-IMG</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Olá,
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'user_name' %}
                {{ message }}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                !</li>
            <li><a href="{{ url_for('logout' ) }}"><i class="material-icons left">exit_to_app</i>Sair</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav grey darken-4 white-text" id="mobile-nav">
    <li class="white-text"><a href="{{ url_for('logout' ) }}" class="white-text"><i
                class="material-icons left white-text">exit_to_app</i>Sair</a>
    </li>
</ul>
{% endblock %}

{% block custom_main %}
<form action="{{url_for('upload')}}" method="POST" class="form-upload" id="form-upload" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="waves-effect waves-light btn-large pink darken-1">
            <span><i class="material-icons left">cloud_upload</i>Carregar Vídeo</span>
            <input type="file" id="file" name="file" accept=".mp4, .avi, .mov, .mkv, .m4a">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate white-text" type="text" id="file-path">
        </div>
    </div>
    <br>
    <br>
    <a class="waves-effect waves-light btn-large btn-extract" id="extrair">Extrair
        Imagens
        <i class="material-icons left">perm_media</i>
    </a>
</form>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col s12 m12">
        <div class="card grey darken-4">
            <div class="card-content white-text">
                <span class="card-title">Histórico</span>
                <p>Histórico de vídeos do usuário com status.</p>
                {% if videos %}
                <div class="row" id="video-history">
                    {% for video in videos %}
                    <div class="col s6 m3 l2">
                        <div class="card blue-grey darken-4">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='imgs/thumbnail.png')}}">
                                <span class="card-title" style="text-shadow: 2px 2px 5px #444">{{ video.filename
                                    }}</span>
                            </div>
                            <div class="card-content">
                                <p><b>Data e Hora:</b> {{ video.upload_date }}</p>
                            </div>
                            <div class="card-action">
                                <b>Status:</b>
                                {% if video.conversion_state %}
                                <span class="green darken-3 z-depth-4 right badge white-text">Convertido</span>
                                {% else %}
                                <span class="yellow darken-1 z-depth-4 right badge">Recebido</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                Não há vídeos no momento.
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<script>M.toast({ html: '{{ message }}', classes: 'green accent-3 black-text' })()</script>
{% elif category == 'error' %}
<script>M.toast({ html: '{{ message }}', classes: 'red accent-4 white-text' })()</script>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#extrair").click(function () {
            $(this).addClass("disabled").css("pointer-events", "none");

            // Envio do vídeo via AJAX
            $.ajax({
                url: $("#form-upload").attr("action"),
                type: $("#form-upload").attr("method"),
                data: new FormData($("#form-upload")[0]),
                processData: false,
                contentType: false,
                xhrFields: {
                    responseType: 'blob' // Indica que a resposta será um arquivo Blob
                },
                success: function (response, status, xhr) {
                    var filename = "download.zip";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    var matches = /filename="([^"]*)"/.exec(disposition);

                    if (matches != null && matches[1]) {
                        filename = matches[1];
                    }

                    // Link download
                    var link = document.createElement('a');
                    link.href = URL.createObjectURL(response);
                    link.download = filename;
                    link.click();

                    // Recarrega a página após o download
                    location.reload();
                },
                error: function () {
                    $("#extrair").removeClass("disabled").css("pointer-events", "auto");
                    location.reload();
                }
            });
        });
    });
</script>

{% endblock %}